---

import PlaceCard from '../components/PlaceCard.astro';
import Layout from '../layouts/Layout.astro';
import { getPlaces } from '../actions/places/getPlaces.action';

const {data:places = [],error} = await Astro.callAction(getPlaces,{});



---

<Layout>
	<h1 class="text-3xl font-extrabold tracking-wide bg-gradient-to-tr from-rose-500 to-purple-500 bg-clip-text text-transparent w-32 h-20">Lugares</h1>

	<div class="grid grid-cols-3 gap-4">
		{
			places.map((place) => (
				<PlaceCard place={place}/>
			))
		}
	</div>

</Layout>
